/node_modules
/public/hot
/public/assets
/public/upload
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/trash
/storage/*.key
/storage/upload-original
/storage/upload
/storage/mails
/storage/temp
settings.php
yarn-error.log
